@import url(https://www.aspose.app/css/font-awesome.css);
@import url(https://www.aspose.app/css/structure2.css);
.topheadermenus.twocolmenu li:hover a.mobileanchor{background:#2072a7!important}.topheader .topheadermenus li .productmenubox a{min-width:25%;max-width:25%;width:25%;padding:6px 15px!important}.productmenubox{max-width:650px;min-width:650px}.font-0{font-size:0!important;height:0;width:0;display:block}
@media (max-width:1024px){.topheader .topheadermenus li .productmenubox a{min-width:100%;max-width:100%;width:100%}.productmenubox{max-width:100%;min-width:100%}}
      